@page "/Test2"
@inject IContactSerivce contactService

<h3>TestSingleton</h3>

@if (contactService.GetContacts().Count == 0)
{
	<b>No contacts to display...</b>
}else
{
	@foreach (var contact in contactService.GetContacts())
	{
		<b>@contact.Name</b>
		<br/>
		<i>@contact.Email</i>
		<br />
		<hr/>
	}
}
